/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 0.2s;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}
.container--sm {
  max-width: 840px;
  width: 100%;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  color: #D4C17F;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.header {
  padding-top: 30px;
  padding-bottom: 74px;
  height: 100vh;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(./../img/Rectangle.jpg), lightgray 50%/cover no-repeat;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  text-align: center;
  font-size: 48px;
  color: #D4C17F;
  font-family: #D4C17F;
  font-weight: 700;
  padding-bottom: 121px;
}
.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.text-right {
  text-align: right;
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.info {
  font-size: 18px;
  position: relative;
}
.info--map, .info--tell {
  padding-left: 35px;
}
.info--map::before, .info--tell::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("../img/map.svg");
}
.info--tell::before {
  background-image: url("../img/phone.svg");
}

.benefits {
  position: relative;
  padding: 120px 0;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  opacity: 0.02;
  z-index: -1;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  line-height: 1.15;
  top: 0;
}

.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.apartmens {
  position: relative;
}
.apartmens::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  opacity: 0.02;
  z-index: -1;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  line-height: 1.15;
  top: 0;
}

.apartmens__title {
  margin-bottom: 88px;
}

.apartmens__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.3s;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.3s;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  z-index: 9;
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("./../img/benefits/towers-bg.jpg"), #c4c4c4;
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s;
}
.form__input::-moz-placeholder {
  color: #bebebe;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__btn {
  height: 50px;
  font-size: 16px;
  padding: 12px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color 0.2s;
}
.form__btn:hover {
  background-color: #ddc676;
}

.form__privacy {
  font-size: 13px;
  text-align: center;
  line-height: 1.23;
  color: #e7e7e7;
}

.video {
  text-align: center;
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  position: absolute;
  opacity: 0.02;
  z-index: -1;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  line-height: 1.15;
  top: 0;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.2s ease-in;
  filter: saturate(1.5);
}

.section-map {
  padding: 180px 0;
  position: relative;
}
.section-map::before {
  content: "V";
  position: absolute;
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  position: absolute;
  opacity: 0.02;
  z-index: -1;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  line-height: 1.15;
  top: 0;
  top: 180px;
  line-height: 1;
}

.section-map__title {
  margin-bottom: 88px;
}

.map {
  background: #626262;
  height: 358px;
}

.feedback {
  padding-bottom: 180px;
}

.feedback__title {
  margin-bottom: 38px;
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}

.footer {
  background: #2D343C;
  padding: 72px;
  padding-bottom: 51px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */